{% extends 'base.html' %}
{% block main_content %}
    <div class="errors">
        {% if form.errors %}
            <i class="fa-regular fa-circle-xmark" onclick="hideErrors()"></i>
            {{ form.non_field_errors }}
            {{ form.cover.errors }}
        {% endif %}

        {% if errors %}
            {% for error in errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
    </div>

    <div class="profile-card profile-details book-card">
    <h1>Add Book</h1>
        <div class="text-data">
            <form method="post" enctype="multipart/form-data" action="{% url 'add book' %}">


                {{ form.title }}

                {{ form.description }}
                <div class="price-author-wrapper">
                    {{ form.price }}
                    {{ form.author }}
                </div>
                {{ form.author_first_name }}
                {{ form.author_last_name }}

                <div class="book-file img-file-text">
                    <h4></h4>
                </div>
                <label>Upload File:</label>
                {% csrf_token %}
                <div class="book-edit-btns">
                    <label class="edit-submit-btn">

                        <input type="file" name="cover" accept="image/*" id="id_cover">
                        <input type="file" id="cover" name="cover">
                        <i class="fa fa-cloud-upload"></i> Upload

                    </label>
                    <button class="edit-submit-btn submit-book-btn">SUBMIT</button>
                </div>

            </form>
        </div>

    </div>
{% endblock %}