    {% extends 'base.html' %}
{% block main_content %}

    <div class="profile-card">
        {% if request.user == object %}
            <a href="{% url 'edit profile' user.pk  %}">
             <i class="fa-solid fa-user-pen"></i>
            </a>

            <a href="{% url 'delete profile' request.user.pk %}">
            <i class="fa-solid fa-user-xmark"></i>
            </a>

        {% endif %}

        <div class="image">
            {% if user.profile.profile_picture %}
            <img src="{{ user.profile.profile_picture.url }}" alt="">
            {% else %}
            <img src="https://img.myloview.com/posters/default-avatar-profile-icon-vector-social-media-user-400-202768327.jpg" alt="">
            {% endif %}


        </div>

        <div class="text-data">
            <span >First Name: <span class="name">{{ user.profile.first_name }}</span></span>
           <span >Last Name: <span class="name">{{ user.profile.last_name }}</span></span>
            <span>Gender: <span class="name">{{ user.profile.gender }}</span></span>
            <span>Phone: <span class="name">{{ user.profile.phone }}</span></span>

        </div>
    </div>
{% endblock %}