{% extends 'base.html' %}
{% block main_content %}
    {% if not books %}
    <h1 class="cart-title">Your Shopping Cart is Empty</h1>
    {% else %}
    <h1 class="cart-title">My Shopping Cart</h1>
    <section class="cart-wrapper">
        <table>
            <thead>
            <tr>
                <th></th>
                <th>Author</th>
                <th>Quantity</th>
                <th>Remove</th>
                <th>Price</th>
            </tr>

            </thead>
            <tbody>
            {% for book in books %}
                <tr>
                    <td class="product-picture"><img src="{{ book.book.cover.url }}" alt="Product 1"></td>
                    <td>{{ book.book.author }}</td>
                    <td>{{ book.quantity }}</td>
                    <td><a href="{% url 'delete item from cart' book.pk %}"><i class="fa-solid fa-square-xmark"></i></a>
                    </td>
                    <td>{{ book.total_price|floatformat:2 }} лв.</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>Total: {{ total_amount|floatformat:2 }} лв.</th>

            </tr>
            </tfoot>
        </table>
    <div class="shipping-form">
        <form method="post" action="{% url 'buy now' %}">
            {% csrf_token %}

            <label for="id_phone">Phone Number:</label>
            {{ form.phone }}
            <label for="id_address">Shipping Address:</label>
            {{ form.address }}
            <input type="submit" value="Buy Now">

        </form>
    </div>
    </section>







{% endif %}
{% endblock %}
