{% extends 'base.html' %}
{% block main_content %}




<table class="finish-order-table">
    <tr class="finish-order-table-title">
        <th>User</th>
        <th>Phone Number</th>
        <th>Address</th>
        <th>Order Status</th>
        <th>Order Created</th>
        <th>Book Title</th>
        <th>Quantity</th>
        <th>Total Price</th>
        <th>Edit</th>
    </tr>

    {% for profile in profiles %}
        {% if profile.orders %}
            <tr>
                <td>{{ profile.user.email }}</td>
                <td>{{ profile.orders.last.phone }}</td>
                <td>{{ profile.orders.last.address }}</td>
                <td>{{ profile.orders.last.status }}</td>
                <td>{{ profile.orders.last.created }}</td>

                <td >
                    {% for order in profile.orders %}
                        {{ order.book.title }} <br>

                    {% endfor %}
                </td>
                <td>
                    {% for order in profile.orders %}
                        {{ order.quantity }}<br>
                    {% endfor %}
                </td>
                <td>{{ profile.total_price }} лв.</td>

{#
            <td><form method="post" action="{% url 'finish order' pk=profile.pk %}">
                    {{ form.status }}
                {% csrf_token %}
                 <button class="ship-button" type="submit">Submit</button>


                </form></td>
            </tr>

        {% endif %}
    {% endfor %}

</table>

{% endblock %}
