{% extends 'base.html' %}
{% block main_content %}





  <ul>

       {% for profile in profiles %}
            {% if profile.orders %}
        <h2>User: {{ profile.user.email }}</h2>
           <h2>{{ profile.orders.last.phone }}</h2>
                <h2>{{ profile.orders.last.address }}</h2>
           <ul>
            <li>{{ profile.orders.last.status }} ---- {{ profile.orders.last.created }}</li>
           </ul>
        <ul>
            {% for order in profile.orders %}
                <li>{{ order.book.title }} -> {{ order.quantity }}</li>

            {% endfor %}
        <h1>{{ profile.total_price }}</h1>

            <a href="{% url 'finish order' pk=profile.pk %}">Edit</a>
        </ul>
           {% endif %}
    {% endfor %}


    </ul>

{% endblock %}

