{% extends 'base.html' %}
{% block main_content %}

  <ul>
       {% for profile in profiles %}
        <h2>User: {{ profile.user.email }}</h2>
           <h2>{{ profile.phone }}</h2>
           <ul>
            <li>{{ profile.orders.last.status }} ---- {{ profile.orders.last.created }}</li>
           </ul>
        <ul>
            {% for order in profile.orders %}
                <li>{{ order.book.title }} -> {{ order.quantity }}</li>

            {% endfor %}
            <a href="{% url 'finish order' pk=profile.pk %}">Edit</a>
        </ul>
    {% endfor %}


    </ul>
{% endblock %}

