
.cart-title {
    font-size: 2.5rem;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: cursive;
}


.lia.cart i {
    font-size: 18px;
}


.product-picture {
    width: 80px;
    height: 90px;
}

.product-picture img {
    width: 100%;
    height: 100%;
}

.cart-wrapper table thead {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #333;
    border-radius: 10px;
    overflow: hidden;
}
table {
     background-color: #ffffffbd;
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    border: none;
    padding: 8px;
    text-align: center;

}

th {
text-align: center;
}

tr:not(:first-child) {
    border-bottom: 1px solid rgba(128, 128, 128, 0.4);
}

.cart-wrapper {
    display: flex;
        width: 70%;
    margin: auto;
}
.cart-wrapper>table {
    flex-basis: 50%;
}


.fa-square-xmark {
    text-decoration: none;
    color: black;
    font-size: 22px;
}

/*Shipping table*/

    .finish-order-table {

        width: 95%;
        margin: auto;
        border-collapse: collapse;
        font-family: "Poppins", sans-serif;
        border-radius: 10px;
        overflow: hidden;
    }

    .finish-order-table-title {
        background-color: #f2f2f2;
        font-weight: bold;
        color: #333;
    }

    .finish-order-table tr {
        border-bottom: 2px solid #80808040;
    }
    .finish-order-table th,
    .finish-order-table td {
        padding: 12px;
        border-bottom: 1px solid #ccc;

    }

    .finish-order-table-books {
        font-style: italic;
    }

    .finish-order-table a {
        color: #007bff;
        text-decoration: none;
    }


/*  CART SECTION FORM*/

.shipping-form {
    padding: 10px;
    flex-basis: 50%;
  max-width: 400px;
    max-height: 350px;
  margin: 0 auto;
    background-color: #ffffffbd;
    width: 100%;
    border-collapse: collapse;
    border-radius: 6px;
}

.shipping-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;

}



.shipping-form input[type="text"] {

  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 16px;
}

.shipping-form input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.shipping-form input[type="submit"]:hover {
  background-color: #0056b3;
}
