.shipping-form form input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-text-fill-color: #000000 !important;
}
.cart-title {
    font-size: 2.5rem;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: cursive;
}


.lia.cart i {
    font-size: 18px;
}


.product-picture {
    width: 80px;
    height: 90px;
}

.product-picture img {
    min-width: 100%;
    height: 100%;
}

.cart-wrapper table thead {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #333;
    border-radius: 10px;
    overflow: hidden;
}
table {
     background-color: #ffffffbd;
    box-shadow: 8px 12px 8px 4px black;
    width: 400px;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    border: none;
    padding: 8px;
    text-align: center;

}

th {
text-align: center;
}

tr:not(:first-child) {
    border-bottom: 1px solid rgba(128, 128, 128, 0.4);
}

.cart-wrapper {
    display: flex;
    width: 70%;
    margin: auto;
    gap: 5%;
    justify-content: center;
    padding-bottom: 20px;
}
.cart-wrapper>table {
    flex-basis: 50%;
}


.fa-square-xmark {
    text-decoration: none;
    color: black;
    font-size: 22px;
}

/*Shipping table*/

    .finish-order-table {

        width: 95%;
        margin: auto;
        border-collapse: collapse;
        font-family: "Poppins", sans-serif;
        border-radius: 10px;
        overflow: hidden;
    }

    .finish-order-table-title {
        background-color: #f2f2f2;
        font-weight: bold;
        color: #333;
    }

    .finish-order-table tr {
        border-bottom: 2px solid #80808040;
    }
    .finish-order-table th,
    .finish-order-table td {
        padding: 12px;
        border-bottom: 1px solid #ccc;

    }

    .finish-order-table-books {
        font-style: italic;
    }

    .finish-order-table a {
        color: #007bff;
        text-decoration: none;
    }

    .ship-button {
        background: #007bff;
        border: none;
        padding: 8px 12px;
        color: white;
        border-radius: 5px;
        margin-left: 10px;
        cursor: pointer;
    }

    .ship-button:hover {
        background: black;
        color: white;
    }

/*  CART SECTION FORM*/

.shipping-form {

    padding: 10px;
    flex-basis: 50%;
  max-width: 400px;
    max-height: 350px;
  margin: 0 auto;
    background-color: #ffffffbd;
    box-shadow: 8px 12px 8px 4px black;
    width: 100%;
    border-collapse: collapse;
    border-radius: 6px;
}

.shipping-form form {
    padding-left: 20px;
}
.shipping-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;

}



.shipping-form input[type="text"] {
  outline: none;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 16px;

}

#id_address {
    outline: none;
    border: none;
    padding-left: 5px;
    margin-bottom: 10px;
    font-size: 14px;
    overflow: hidden;
    height: 100px;
    resize: none;
    border-radius: 5px;

}

.shipping-form input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
    margin-bottom: 10px;
}

.shipping-form input[type="submit"]:hover {
  background-color: #0056b3;
}


  /*success order placed*/
  :root {
            --brand-success: #5cb85c;
            --loader-size: 7em;
            --check-height: calc(var(--loader-size) / 2);
            --check-width: calc(var(--check-height) / 2);
            --check-left: calc(var(--loader-size) / 6 + var(--loader-size) / 12);
            --check-thickness: 3px;
            --check-color: var(--brand-success);
        }



        h1 {
            margin-bottom: 1em;
        }

        .circle-loader {
              display: block;
            margin: 0 auto;
            margin-bottom: var(--loader-size) / 2;
            border: 3px solid rgba(0, 0, 0, 0.2);
            border-left-color: var(--check-color);
            animation: loader-spin 1.2s infinite linear;
            position: relative;

            vertical-align: top;
            border-radius: 50%;
            width: var(--loader-size);
            height: var(--loader-size);
        }

        .load-complete {
            display: block;
            margin: 0 auto;
            -webkit-animation: none;
            animation: none;
            border-color: var(--check-color);
            transition: border 500ms ease-out;
        }




       .checkmark {
    display: none;
}

.checkmark.draw:after {
    animation-duration: 800ms;
    animation-timing-function: ease;
    animation-name: checkmark;
    transform: scaleX(-1) rotate(135deg);
}

.checkmark:after {
    opacity: 1;
    height: var(--check-height);
    width: var(--check-width);
    transform-origin: left top;
    border-right: var(--check-thickness) solid var(--check-color);
    border-top: var(--check-thickness) solid var(--check-color);
    content: '';
    left: var(--check-left);
    top: var(--check-height);
    position: absolute;
}

        @keyframes loader-spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }

        @keyframes checkmark {
            0% {
                height: 0;
                width: 0;
                opacity: 1;
            }
            20% {
                height: 0;
                width: var(--check-width);
                opacity: 1;
            }
            40% {
                height: var(--check-height);
                width: var(--check-width);
                opacity: 1;
            }
            100% {
                height: var(--check-height);
                width: var(--check-width);
                opacity: 1;
            }
        }

        #order-success-done {
            background:#ffffffbd;
            padding: 50px 5px 50px 5px;
            width: 90%;
            margin: 0 auto;
            border-radius: 10px;
        }

        #order-success-done h1 {
            text-align: center;
            margin-bottom: 40px;
            font-family: sans-serif;
            font-size: 2rem;
}
